body {


background: #BA8B02; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #BA8B02 , #181818); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #BA8B02 , #181818); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


form {

    margin: 150px auto;
    width: 30%;
}

p {
  position: absolute;
  color: white;
  margin-top:20px;
  margin-left: 460px;
  font-family: cursive;;
  font-size: 40px
}



form div label {
  color: white;
  font-family: Helvetica sans-serif;
}
